%table
  %tr
    %th Nickname
    %th Email
    %th Count posts for period: from #{@start_date} to #{@end_date}
    %th Count comments for period: from #{@start_date} to #{@end_date}

  - @report.each do |key, value|
    %tr
      %td= @report[key]['nickname']
      %td= @report[key]['email']
      %td= @report[key]['posts_size']
      %td= @report[key]['comments_size']
